/* This is a css file alternative to the tailwind classes in page.tsx for black triangle in global.css */

.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
